main{
    /* height: 150vh; */
    background: #e0dada;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #274046, #e0dada);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #274046, #e0dada);
    min-height: 80vh;
}
.calc{
    height: 70vh;
    width:80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px 10px #2d3436;

}
.calc-text{
    padding: 5vh 0 2.5vh 0;
    text-align: center;
    font-size: 5rem;
}
.calc-input{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#weight{
    width: 30vw;
    padding: 3px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px 10px #2d3436;
}
#height{
    width: 30vw;
    padding: 3px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px 10px #2d3436;

}
.ans{
    width: 30vw;
    height: 18px;
    background-color: #7d949b;
    color: black;
    padding: 3px;
    margin: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px 10px #2d3436;
}
.btn{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-80%);
}
#btn1{
    width: 100px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px 10px #2d3436;
    cursor: pointer;
}
#btn2{
    width: 100px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px 10px #2d3436;
    cursor: pointer;
}
@media (max-width: 680px) {
    #btn1{
        width: 12vw;
        padding: 3px;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 5px 10px 10px #2d3436;
        font-size: 1.75vw;
        cursor: pointer;
    }
    #btn2{
        width: 12vw;
        padding: 3px;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 5px 10px 10px #2d3436;
        font-size: 1.75vw;
        cursor: pointer;
    }
}
.gauge{
    width: 100%;
    max-width: 150px;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-95%,-50%);
}
.gauge-body{
    width: 100%;
    height:0;
    padding-bottom: 50%;
    /* background: red; */
    position: relative;
    border: 1px solid black;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
}
.gauge-fill{
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background-color: cyan;
    transition: all 0.3 ease-in-out;
    transform-origin: center top;
    transform: rotate(0turn);
    /* transition: transform 0.5 ease-in-out; */
}

.gauge-cover{
    width: 75%;
    height: 150%;
    position: absolute;
    background-color: #274046;
    border-radius: 50%;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
}