
main{
    /* height: 150vh; */
    background: #e0dada;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #274046, #e0dada);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #274046, #e0dada);
}

.library{
    max-width: 100vw;
    padding: 2vw 5vw ;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,20rem);
    justify-content: center;
    align-items: center;
    column-gap: 2.5rem;
    row-gap: 2.5rem;
}
.vid{
    background-color: black;
    height: 25rem;
    box-shadow: 5px 10px 10px #2d3436;

}
.col{
    height: 100%;
    position: relative;
}
.cool-img1{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: top;
    position: relative;
}
.cool-img2{
    width:100%;
    height:100%;
    object-position: top;
    object-fit: cover;
}
.cool-img3{
    width:100%;
    height:100%;
    object-position: top=5px;
    object-fit: cover;
}
.cool-img4{
    width:100%;
    height:100%;
    object-fit: cover;

}
.cool-img5{
    width:100%;
    height:100%;
    object-fit: cover;

}
.cool-img6{
    width:100%;
    height:100%;
    object-position: left;
    object-fit: cover;

}
.cool-img7{
    width:100%;
    height:100%;
    object-fit: cover;

}
.cool-img8{
    width:100%;
    height:100%;
    object-position: top;
    object-fit: cover;

}
.cool-img9{
    width:100%;
    height:100%;
    object-position: top;
    object-fit: cover;

}
.cool-img10{
    width:100%;
    height:100%;
    object-fit: cover;

}
.play-btn{
    width: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.video-player{
    /* box-shadow: 5px 10px 10px black; */
    width: 22%;
    position: fixed;
    top: 50%;
    left: 50%;
    /* background-attachment: scroll; */
    transform: translate(-50%,-50%);
    display: none;
}
video:focus{
    outline: none;
}
.close-btn{
    width: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
@media (max-width:840px){
    main{
        min-height: 200vh;
    }
}
@media (max-width:540px){
    .video-player{
        width: 80%;
    }
}